{{#each values}}
  <h1>{{@index}}. {{this}}</h1>
{{/each}}

<p>{{person.comments.comment}}</p>

{{#with person}}
  <h4>{{comments.date}}</h4>
  {{#with comments}}
    <h6>{{date}}</h6>
  {{/with}}
{{/with}}

{{#if user.admin}}
  <p>This is an admin</p>
{{else}}
  <p>This is a normal user</p>
{{/if}}